node_modules/
.next/
dist/
build/
out/
coverage/

# env
.env
.env.*.local
.env.local

# prisma
/packages/db/prisma/dev.db
*.db
*.db-journal

# misc
.DS_Store
*.log
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
